/.idea/.gitignore
/build/reports/tests/test/css/base-style.css
/build/resources/main/big
/build/resources/test/big
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.8/javaCompile/classAnalysis.bin
/.idea/compiler.xml
/build/resources/main/dictionary
/build/resources/test/dictionary
/build/resources/test/emptyDictionary
/.gradle/6.8/executionHistory/executionHistory.bin
/.gradle/6.8/executionHistory/executionHistory.lock
/.gradle/6.8/fileHashes/fileHashes.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/build/reports/tests/test/index.html
/.gradle/6.8/javaCompile/jarAnalysis.bin
/.idea/jarRepositories.xml
/.gradle/6.8/javaCompile/javaCompile.lock
/.gradle/6.8/fileChanges/last-build.bin
/build/classes/java/main/MainClass.class
/build/classes/java/main/stringMatch/MatchDictionary.class
/build/classes/java/test/stringMatch/MatchDictionaryTest.class
/build/classes/java/main/stringMatch/MatchOffset.class
/.idea/misc.xml
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/.gradle/buildOutputCleanup/outputFiles.bin
/build/reports/tests/test/js/report.js
/.gradle/6.8/fileHashes/resourceHashesCache.bin
/build/test-results/test/binary/results.bin
/build/resources/test/smallDictionary
/build/resources/test/smallText
/build/tmp/compileJava/source-classes-mapping.txt
/build/tmp/compileTestJava/source-classes-mapping.txt
/build/reports/tests/test/packages/stringMatch.html
/build/reports/tests/test/classes/stringMatch.MatchDictionaryTest.html
/build/reports/tests/test/classes/stringMatch.StringMatcherTest.html
/build/reports/tests/test/classes/stringMatch.StringMatchExecutorTest.html
/build/classes/java/main/stringMatch/StringMatchAggregator.class
/build/classes/java/main/stringMatch/StringMatcher.class
/build/classes/java/test/stringMatch/StringMatcherTest.class
/build/classes/java/main/stringMatch/StringMatchExecutor.class
/build/classes/java/test/stringMatch/StringMatchExecutorTest.class
/build/reports/tests/test/css/style.css
/.gradle/6.8/javaCompile/taskHistory.bin
/build/test-results/test/TEST-stringMatch.MatchDictionaryTest.xml
/build/test-results/test/TEST-stringMatch.StringMatcherTest.xml
/build/test-results/test/TEST-stringMatch.StringMatchExecutorTest.xml
/.idea/vcs.xml
